@media screen and (max-width:720px) {
    body{
        margin: 0;
        padding: 0;
    }
    .container .image{
        width: 100%;
        height: 400PX; 
    }
    .container{
        width: 100%;
        max-width: 100%; 
        height: 100%;
        display: flex;
        flex-direction: column; 
        overflow: visible;
       
       
    }
    .group{
        display: flex;
        flex-direction: column;
        overflow: visible;
    }
    .container .formulaire{
        width: 100%;
        /* height: 100%; */
        padding: 10px;
        overflow: visible;
    }
    .form{
         width: 100%; 
    }
    .image{
        width: 100%;
        height: 50%;
    }
    .container .formulaire .group .right{
        width: 80%;
        height: 100%;
    }
    i{
        position: relative;
        bottom: 30PX;
        left: 230PX;
       
     }
    .container .formulaire .group .left{
        width: 80%;
        height: 100%; 
    }
    .flex1{
        width: 80%;
        margin: auto;
        padding: 5px;
    }
    .rond1{
        display: flex;
        /* justify-content: center; */
        position: relative;
        bottom: 20px;
        left: 22PX;
        margin-bottom: 10px;
        width: 80%;
        margin: 20PX;
       
        
    }
    .pay{
    margin-bottom: 0px;
}
    
.barre{
    border: none;
    
 }
 .sub{
    width: 80px;
    height: 40px;
    color: white;
    background-color: rgba(76, 207, 16, 0.675);
    border: none;
    border-radius: 5PX;
    margin: auto;
    margin-left: 0px;
    position: relative;
    left: 140PX;
    
    
}
.res{
    width: 80px;
    height: 40px;
    color: rgb(145, 141, 141);
    border: none;
    border-radius: 5PX;
    position: relative;
    right: 80PX;
    
}
.button{
   position: relative;
   left: 10PX;
   top: 10px; 
   display: flex;
   align-items: center;
   
   
  
}
    
}